# version: 0.59.1

--swiftversion 6.2

--assetliterals visual-width
--computedvarattrs prev-line
--funcattributes prev-line
--ifdef no-indent 
--maxwidth 140
--semicolons never
--shortoptionals "always"
--storedvarattrs prev-line
--stripunusedargs closure-only
--tabwidth 4
--trailingclosures
--typeattributes prev-line
--wraparguments before-first
--wrapcollections before-first
--wrapconditions after-first
--wrapparameters before-first
--xcodeindentation enabled

--enable blankLinesAroundMark,   \
    isEmpty,                \
    leadingDelimiters,      \
    redundantInit,          \
    redundantLet,           \
    spaceInsideBraces,      \
    spaceInsideBrackets,    \
    spaceInsideComments,    \
    spaceInsideGenerics,    \
    spaceInsideParens,      \
    trailingSpace,          \
    typeSugar,              \
    void,                   \
    wrapEnumCases

--disable andOperator,       \
    blankLinesAtStartOfScope,\
    docComments,             \
    redundantClosure,       \
    redundantFileprivate,   \
    redundantSelf,          \
    redundantType,          \
    redundantViewBuilder,   \
    strongOutlets,          \
    trailingCommas,         \
    yodaConditions

--exclude Shared/Strings/Strings.swift, fastlane/

--header "\nSwiftfin is subject to the terms of the Mozilla Public\nLicense, v2.0. If a copy of the MPL was not distributed with this\nfile, you can obtain one at https://mozilla.org/MPL/2.0/.\n\nCopyright (c) {year} Jellyfin & Jellyfin Contributors\n"
