//
// Swiftfin is subject to the terms of the Mozilla Public
// License, v2.0. If a copy of the MPL was not distributed with this
// file, you can obtain one at https://mozilla.org/MPL/2.0/.
//
// Copyright (c) 2025 Jellyfin & Jellyfin Contributors
//

DEVELOPMENT_TEAM = 
PRODUCT_BUNDLE_IDENTIFIER = org.jellyfin.swiftfin
TOP_SHELF_APP_GROUP_IDENTIFIER = group.$(PRODUCT_BUNDLE_IDENTIFIER)
TOP_SHELF_EXTENSION_BUNDLE_IDENTIFIER = $(PRODUCT_BUNDLE_IDENTIFIER).TopShelf
TOP_SHELF_URL_SCHEME = $(PRODUCT_BUNDLE_IDENTIFIER).topshelf

#include? "DevelopmentTeam.xcconfig"
